@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,100&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    flex: 1;
}
.parallax{
    flex: 1;
    width: 100vw;
    background-image: url(/imagens_site/laptop-2838921_960_720.jpeg);
    min-height: 70vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */

.navbar-container{
    width: 100%;
    height: 5%;
    background-color: rgb(0,0,0,0.8);
    opacity: 0.95;
    font-size: 18px;
}
a{
    color: #eee;
    font-style: normal;
    text-decoration: none;
    margin-top: 10px;
}
#dados_navbar{
    color: #eee;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    list-style: none;
    
}

/* Sobre Mim */

.sobre_mim-container{
    text-align: center;
    width: 100vw;
    height: 60vh;
}
#titulo_sobre{
    font-size: 55px;
    margin-top: 20px;
    margin-left: 2%;
    transition: ease 1.5s;
}
#txt_sobre{
    margin-top: 10%;
    font-size: 25px;
    margin: 10%;
    text-align: center;
    transition: ease 1.5s;
}


/* Meus Trabalhos  */

.meus_trabalhos-container{
    background-image: url(/imagens_site/startup-594090_960_720.jpeg);
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-size: cover;
    text-align: center;
    background-color: rgb(233, 233, 233);
    width: 100vw;
    height: 60vh;
}
#titulo_trabalho{
    font-size: 55px;
    text-align: center;
    margin-left: 2%;
    margin-top: 30%;
    width: 100%;
    transition: ease 1.5s;
}
#txt_trabalho{
    font-size: 25px;
    margin: 5%;
    text-align: center;
    transition: ease 1.5s;
}
.IconesTrabalhos{
    display: flex;
    margin-left: 20%;
}
#IconeTrabalho{
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
#LinkTrabalho{
    cursor: pointer;
    color: black;
    display: flex;
    margin-left: -10%;
    margin-top: 10.5%;
}

/* Contatos */

.contato-container{
    text-align: center;
    background-color: white;
    width: 100vw;
    height: 60vh;
}
#logos-click{
    display: flex;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 10%;
    width: 100vw;
    height: 5vh;
    transition: ease 1.5s;
}

#titulo_contato{
    font-size: 55px;
    text-align: center;
    margin-left: 2%;
    margin-top: 20px;
    width: 100%;
    transition: ease 1.5s;
}
#txt_contato{
    font-size: 25px;
    margin: 10%;
    text-align: center;
    transition: ease 1.5s;
}
.insta{
    transition: ease 1.5s;
    opacity: 15%;
    width: 3vw;
    height: 5vh;
    cursor: pointer;
}

#zap{
    transition: ease 1.5s;
    opacity: 15%;
    cursor: pointer;
}
#email{
    transition: ease 1.5s;
    opacity: 15%;
    width: 3vw;
    height: 5vh;
}
.insta:hover , #zap:hover , #email:hover{
    transition: ease 1.5s;
    opacity: 100%;
}

/* Inspirações */

.testemunhas-container{
    text-align: center;
    display: flex;
    width: 100vw;
    height: 80vh;
    background-color: #eee;
    justify-content: space-evenly;
}
.txt-comentario , .nome-comentario{
    color: black;
    font-weight: lighter;
    font-family: 'Work Sans', sans-serif;
}

#foto-trabalho1{
    width: 70vw;
    height: 65vh;
    image-resolution: 5000px;
}

#titulo-feedback{
    text-align: center;
    font-size: 3rem;
    translate: 0% 5vh;
}

/* Carousel */

#carouselExampleCaptions{
    translate: 0% 5vh;
}
#foto-trabalho1{
    width: 100vw;
    height: 65vh;
    translate: 0% 0%;
}
#foto-trabalho2{
    width: 100vw;
    height: 65vh;
    translate: 0% 0vh;
}
#foto-trabalho3{
    width: 100vw;
    height: 65vh;
    translate: 0% 0vh;
}
/* Footer */
#final{
    width: 100vw;
    height: 12vh;
    text-align: center;
    align-items: center;
    translate: 0% 9vh;
}